<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <img src="https://icons.iconarchive.com/icons/icons-land/sport/48/Boxing-Gloves-icon.png">
    <a class="navbar-brand">Usuario: {{email}}</a>
    <a class="navbar-brand" href="#">KICK-BOXING SHOP</a>

    <div class="navbar-dark bg-dark">
      <ul class="nav justify-content-end  ">
        <li class="nav-item">
          <a class="nav-link" style="color:#FFFFFF" routerLink="/listadocompras">Listado de compras</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" style="color:#FFFFFF"  href="/login">Inicio Sesion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color:#FFFFFF" href="/admin">Administrador</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- <app-categorias (category)="sendFiltrar($event)"></app-categorias> -->



        
