
<div class="col-md-8" style="margin: auto;">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    IdUsuario
                </th>
                <th>
                    Nombre del producto
                </th>
                <th>
                    Cantidad comprada
                </th>
            </tr>
        </thead>
        <tbody>
           <tr *ngFor="let i of carritoService.carritos" >
            <td>{{i.idUsuario}}</td>
            <td>{{i.nombreProducto}}</td>
            <td>{{i.cantidad}}</td>
           </tr>

        </tbody>
    </table>
</div>

